<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="sqlserverConnect" connectionString="Data Source=DESKTOP-45QG81R;Initial Catalog=PersonInfoDatabase;Integrated Security=TRUE"/>
	</connectionStrings>
</configuration>